/* import google fonts */
@import url('https://fonts.googleapis.com/css?family=Oswald|sans-serif&display=swap');

/* initialise media screen size for later use*/
@media screen {}

/* default styling */
* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* baseline body styling */
/* using a flex box, centred at 100x100 vw x vh */
body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}


/* style the overall container class */
.container {
    background-color: blue;
    color: wheat;
    width: 90%;
    max-width: 90%;
}

/* centre the header text with a decent margin */
#headertext {
    text-align: center;
    margin: 2%;
}

.headertext {
    background-color: darkolivegreen;
}

h1 {
    color: wheat;
    background: darkolivegreen;
    display: inline-block;
    margin: 5%;
    padding: 5%;
    border: 3px solid wheat;
}

#legendtext {
    color: wheat;
    background: darkolivegreen;
    width: auto;
    padding: 2%;
}

#scenetext {
    padding: 2%;
    color: wheat;
    background: darkolivegreen;
    text-align: center;
}


/*
h1 {
    background: red;
    color: #fff;
    padding: 0 20px;
    display:inline-block; /*optional 
  }
*/

/* format and arrange the game buttons in a nice 2x2 grid */
.btn-grid {
    background-color: red;
    margin: 5%;
    padding: 5%;
    gap: 5%;
    display: grid;
    grid-template-columns: repeat(2, auto);
}

/* style the main central buttons */
.btnheadertext {
    color: darkolivegreen;
    background-color: wheat;
    margin: 2%;
    padding: 5%;
    border: 3px solid wheat;
}

/* style the individual buttons */
.btn {
    color: white;
    background-color: blue;
    margin: 2%;
    padding: 5%;
    border: 5px solid lightsteelblue;
}

/* arrange a hover style for the mouse hovering a button */
.btn:hover {
    border-color: black;
}