/* import google fonts */
@import url('https://fonts.googleapis.com/css?family=Oswald|sans-serif&display=swap');

/* initialise media screen size for later use*/
@media screen {}

/* default styling */
* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* baseline body styling */
/* using a flex box, centred at 100x100 vw x vh */
body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100vw;
    height: 100vh;
}


/* style the overall container class */
.container {
    background-color: blue;
    color: wheat;
    width: 90%;
    max-width: 90%;
    position: absolute;

}

/* centre the header text with a decent margin */
#headertext {
    text-align: center;
    margin: 2%;
}

.headertext {
    background-color: darkolivegreen;
}

h1 {
    color: wheat;
    background: darkolivegreen;
    display: inline-block;
    margin: 2%;
    padding: 2%;
    border: 3px solid wheat;
}

h2 {
    color: black;
    background: wheat;
    display: inline-block;
    padding: 2%;
    border: 3px solid red;
}

h5 {
    color: black;
    background: wheat;
    display: inline-block;
    padding: 2%;
    border: 3px solid red;
}

h6 {
    color: black;
    background: wheat;

    padding: 2%;
    border: 3px solid red;
}

#legendtext {
    color: wheat;
    background: rgb(107, 81, 47);
    width: auto;
    padding: 1%;
}

#player {
    color: white;
}

#scenetext {
    padding: 1%;
    color: wheat;
    background: darkolivegreen;
    text-align: center;
}

/* format and arrange the game buttons in a nice 2x2 grid */
.btn-grid {
    background-color: red;
    margin: 2%;
    padding: 2%;
    gap: 2%;
    display: grid;
    grid-template-columns: repeat(2, auto);
}

.fight-span{
    background-color: orange;
    margin: 2%;
    padding: 2%;
    gap: 2%;
    display: grid;
    grid-template-columns: repeat(2, auto);
}

.keyspressed-span{
    background-color: rgb(32, 7, 80);
    margin: 2%;
    padding: 2%;
    gap: 2%;
    display: grid;
    grid-template-columns: repeat(2, auto);
}

/* style the main central buttons */
.btnheadertext {
    color: darkolivegreen;
    background-color: wheat;
    margin: 2%;
    padding: 5%;
    border: 3px solid wheat;
}

/* style the individual buttons */
.btn {
    color: white;
    background-color: blue;
    margin: 2%;
    padding: 5%;
    border: 5px solid lightsteelblue;
}

/* arrange a hover style for the mouse hovering a button */
.btn:hover {
    border-color: black;
}

#menu{
    padding: 2rem;
    background-color: rgb(32, 7, 80);
    position: relative;
    top: 5%;
    line-height: 150%;
    margin: 5%;
    color: white;
    text-transform: uppercase;
    opacity: 85%;
}


/* Screen sizes from 1200px wide or above */
@media screen {
    #menu {
       clear: left;
       float: left;
       margin-left: .25rem;
       margin-bottom: .75rem;
       line-height: 150%;
       width: 100%;
    }
 }
 
 /* Screen sizes from 1200px wide or below */
 @media screen and (max-width: 1200px) {
    #menu {
       clear: left;
       float: left;
       margin-left: .75rem;
       margin-bottom: .75rem;
       line-height: 150%;
       width: 95%;
    }
 
 }
 
 /* Screen sizes from 780px wide or below */
 @media screen and (max-width: 780px) {
    * {
       margin: 0;
       padding: 0;
    }
 
 }
 
 /* Screen sizes from 470px wide or below */
 @media screen and (max-width: 470px) {
 
    * {
       margin: 0;
       padding: 0;
    }
 
 
 }
 
 /* Screen sizes from 330px wide or below */
 @media screen and (max-width: 330px) {
    * {
       margin: 0;
       padding: 0;
    }
 
 
 }