/* import google fonts */
@import url('https://fonts.googleapis.com/css?family=Oswald|sans-serif&display=swap');

/* initialise media screen size for later use*/
@media screen {}

/* default styling */
* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* baseline body styling */
/* using a flex box, centred at 100x100 vw x vh */
body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: left;
    width: 100vw;
    height: 100vh;
}


/* style the overall container class */
.container {
    background-color: white;
    color: black;
    width: 90%;
    max-width: 90%;
    position: absolute;

}

/* centre the header text with a decent margin */
#headertext {
    text-align: center;
    margin: 2%;
}

.headertext {
    background-color: white;
}

h1 {
    color: black;
    background: white;
    display: inline-block;
    margin: 2%;
    padding: 2%;
    border: 1px solid black;
}

h2 {
    color: black;
    background: white;
    display: inline-block;
    padding: 2%;
    border: 1px solid black;
}

/* added as h2 is not allowed as child of span */
.spanh2 {
    color: black;
    background: white;
    font-size: x-large;
    display: inline-block;
    padding: 1%;
    border: 1px solid black;
}

h5 {
    color: black;
    background: wheat;
    display: inline-block;
    padding: 2%;
    border: 1px solid black;
}

h6 {
    color: black;
    background: white;

    padding: 2%;
    border: 1px solid black;
}

#legendtext {
    color: black;
    background: white;
    width: auto;
    padding: 1%;
}

#player {
    color: white;
}

#scenetext {
    padding: 1%;
    color: black;
    background: white;
    text-align: center;
}

/* format and arrange the game buttons in a nice 2x2 grid */
.btn-grid {
    background-color: white;
    margin: 2%;
    padding: 2%;
    gap: 2%;
    display: grid;
    grid-template-columns: repeat(2, auto);
}

.fight-span {
    background-color: white;
    margin: 2%;
    padding: 2%;
    gap: 2%;
    display: grid;
    grid-template-columns: repeat(2, auto);
}

.keyspressed-span {
    background-color: white;
    margin: 2%;
    padding: 2%;
    gap: 2%;
    display: grid;
    grid-template-columns: repeat(2, auto);
}

footer {
    color: black;
    background: white;
    width: 55%;
}

/* style the main central buttons */
.btnheadertext {
    color: black;
    background-color:white;
    margin: 2%;
    padding: 5%;
    border: 1px solid black;
}

/* style the individual buttons */
.btn {
    color: black;
    background-color: white;
    margin: 2%;
    padding: 5%;
    border: 1px solid black;
}

/* arrange a hover style for the mouse hovering a button */
.btn:hover {
    border-color: black;
}

#menu {
    padding: 1rem;
    background-color: black;
    position: relative;
    top: 1%;
    
    margin: 1%;
    color: white;
    text-transform: uppercase;
    opacity: 85%;
}


/* Screen sizes from 1200px wide or above */
@media screen {
    #menu {
        clear: left;
        float: left;
        margin-left: .25rem;
        margin-bottom: .75rem;
       
        width: 100%;
    }
}

/* Screen sizes from 1200px wide or below */
@media screen and (max-width: 1200px) {
    #menu {
        clear: left;
        float: left;
        margin-left: .75rem;
        margin-bottom: .75rem;
      
        width: 95%;
    }

}

/* Screen sizes from 780px wide or below */
@media screen and (max-width: 780px) {
    * {
        margin: 0;
        padding: 0;
    }

    h1 {
        font-size: 90%;
    }

    h3 {
        font-size: 90%;
    }


}

/* Screen sizes from 470px wide or below */
@media screen and (max-width: 470px) {

    * {
        margin: 0;
        padding: 0;
    }

    h1 {
        font-size: 70%;
    }

    h3 {
        font-size: 70%;
    }

    #menu {
        padding: 1rem;
        position: relative;
        top: 1%;
        line-height: 100%;
        margin: 2%;
        text-transform: uppercase;
        opacity: 85%;
    }
}

/* Screen sizes from 330px wide or below */
@media screen and (max-width: 330px) {
    * {
        margin: 0;
        padding: 0;
    }

}