@import url('https://fonts.googleapis.com/css?family=Oswald|sans-serif&display=swap');

@media screen {}

* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* baseline body styling */
body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

#headertext {
    text-align: center;
} 

.btn-grid {
    background-color: red;
    /*   float:left; */
    margin: 5%;
    padding: 5%;
}

.btn {
    color: white;
    background-color: blue;
    margin: 2%;
    padding: 5%;
}

.container {
    background-color: darkolivegreen;
    color: wheat;
    width: 90%;
    max-width: 90%;
}